<!DOCTYPE html>
<html lang="zxx">

<!-- Mirrored from demo.dashboardpack.com/user-management-html/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 13 Dec 2023 13:29:04 GMT -->

<head>
    {{> header}}
</head>

<body class="crm_body_bg">


    <nav class="sidebar">
        {{> sidebar}}
    </nav>

    <section class="main_content dashboard_part large_header_bg">

        {{> main_header}}

        <div class="main_content_iner overly_inner ">
            <div class="container-fluid p-0 ">

                {{> dashboard_analytics}}
                <div class="row">
                    <div class="col-lg-12">
                        <div class="white_card card_height_100 mb_30 pt-4">
                            <div class="white_card_body">
                                <div class="QA_section">
                                    <div class="white_box_tittle list_header">
                                        <h4>Shift List </h4>
                                        <div class="box_right d-flex lms_block">
                                            <div class="serach_field_2">
                                                <div class="search_inner">
                                                    <form Active="#">
                                                        <div class="search_field">
                                                            <input type="text" placeholder="Search content here...">
                                                        </div>
                                                        <button type="submit"> <i class="ti-search"></i> </button>
                                                    </form>
                                                </div>
                                            </div>
                                            <div class="add_button ms-2">
                                                <a href="#" data-toggle="modal" data-target="#addcategory"
                                                    class="btn_1">search</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="QA_table mb_30">

                                        {{!-- Shifts --}}
                                        <table class="table lms_table_active ">
                                            <thead>
                                                <tr>
                                                    <th scope="col">id</th>
                                                    <th scope="col">Name</th>
                                                    <th scope="col">Start Time</th>
                                                    <th scope="col">End Time</th>
                                                    <th scope="col">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody id="shift-list">
                                                {{#shifts}}
                                                <tr>
                                                    <td>{{this.count}}</td>
                                                    <td>{{this.name}}</td>
                                                    <td><b>{{this.timings.start}}</b></td>
                                                    <td><b>{{this.timings.end}}</b></td>
                                                    <td>
                                                        <div class="action_btns d-flex">
                                                            <a href="/shift/update?_id={{this._id}}"
                                                                class="action_btn mr_10">
                                                                <i class="far fa-edit"></i>
                                                            </a>
                                                            <a style="cursor: pointer;" id="{{this._id}}"
                                                                class="action_btn delete delete-shift-button"> <i
                                                                    class="fas fa-trash"></i>
                                                            </a>
                                                        </div>
                                                    </td>
                                                </tr>
                                                {{/shifts}}
                                            </tbody>
                                        </table>
                                        {{!-- Shifts --}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {{> main_footer}}
    </section>


    {{> chat_popup_box}}


    <div id="back-top" style="display: none;">
        {{> back_to_top}}
    </div>

    {{> footer}}
</body>

<!-- Mirrored from demo.dashboardpack.com/user-management-html/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 13 Dec 2023 13:29:54 GMT -->

</html>