<!DOCTYPE html>
<html lang="zxx">

<head>
    {{> header}}
    <!-- Add this script section at the end of your body -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>

    <script>
        $(document).ready(function () {
            // Function to export table data to PDF
            function exportToPDF() {
                var doc = new jsPDF();

                // Get the HTML content of the table
                var tableHtml = $("#attendance-list").html();

                // Add HTML content to the PDF
                doc.fromHTML(tableHtml, 15, 15);

                // Save the PDF
                doc.save("attendance_list.pdf");
            }

            // Attach a click event to the export button
            $(".export-pdf-button").on("click", function () {
                exportToPDF();
            });
        });
    </script>
</head>

<body class="crm_body_bg">

    <nav class="sidebar">
        {{> sidebar}}
    </nav>

    <section class="main_content dashboard_part large_header_bg">

        {{> main_header}}

        <div class="main_content_iner overly_inner ">
            <div class="container-fluid p-0 ">

                {{> dashboard_analytics}}
                <div class="row">
                    <div class="col-lg-12">
                        <div class="white_card card_height_100 mb_30 pt-4">
                            <div class="white_card_body">
                                <div class="QA_section">
                                    <div class="d-flex justify-content-between align-items-center mb-3">
                                        <div class="white_box_tittle list_header">
                                            <h4>Attendance List</h4>
                                        </div>
                                        <a class="btn btn-danger export-pdf-button">Export as PDF</a>
                                    </div>
                                    <div class="QA_table mb_30">
                                        {{!-- attendances --}}
                                        <table class="table lms_table_active ">
                                            <thead>
                                                <tr>
                                                    <th scope="col"><strong>id</strong></th>
                                                    <th scope="col"><strong>Name</strong></th>
                                                    <th scope="col"><strong>Unit</strong></th>
                                                    <th scope="col"><strong>Department</strong></th>
                                                    <th scope="col"><strong>Designation</strong></th>
                                                    <th scope="col"><strong>Total Check In</strong></th>
                                                    <th scope="col"><strong>Total Check Out</strong></th>
                                                    <th scope="col"><strong>Month</strong></th>
                                                </tr>
                                            </thead>
                                            <tbody id="attendance-list">
                                                {{#attendances}}
                                                {{#monthlyRecords}}
                                                <tr>
                                                    <td><strong>{{this.count}}</strong></td>
                                                    <td><strong>{{this.fullName}}</strong></td>
                                                    <td><strong>{{this.unit.name}}</strong></td>
                                                    <td><strong>{{this.department.name}}</strong></td>
                                                    <td><strong>{{this.designation.name}}</strong></td>
                                                    <td><strong>{{this.totalCheckIns}}</strong></td>
                                                    <td><strong>{{this.totalCheckOuts}}</strong></td>
                                                    <td><strong><a
                                                                href="/attendance?_id={{this._id}}&month={{this.month}}"
                                                                class="status_btn bg-dark">{{this.month}}</a></strong>
                                                    </td>
                                                </tr>
                                                {{/monthlyRecords}}
                                                {{/attendances}}
                                            </tbody>
                                        </table>
                                        {{!-- attendances --}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {{> main_footer}}
    </section>

    {{> chat_popup_box}}

    <div id="back-top" style="display: none;">
        {{> back_to_top}}
    </div>

    {{> footer}}


</body>

</html>



</html>