<!DOCTYPE html>
<html lang="zxx">

<!-- Mirrored from demo.dashboardpack.com/user-management-html/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 13 Dec 2023 13:29:04 GMT -->

<head>
    {{> header}}
</head>

<body class="crm_body_bg">


    <nav class="sidebar">
        {{> sidebar}}
    </nav>

    <section class="main_content dashboard_part large_header_bg">

        {{> main_header}}

        <div class="main_content_iner overly_inner ">
            <div class="container-fluid p-0 ">

                {{> dashboard_analytics}}
                <div class="row">
                    <div class="col-lg-12">
                        <div class="white_card card_height_100 mb_30 pt-4">
                            <div class="white_card_body">
                                <div class="QA_section">
                                    <div class="white_box_tittle list_header">
                                        <h4>Attendance List </h4>
                                    </div>
                                    <div class="QA_table mb_30">

                                        {{!-- attendances --}}
                                        <table class="table lms_table_active ">
                                            <thead>
                                                <tr>
                                                    <th scope="col"><strong>id</strong></th>
                                                    <th scope="col"><strong>Name</strong></th>
                                                    <th scope="col"><strong>Unit</strong></th>
                                                    <th scope="col"><strong>Department</strong></th>
                                                    <th scope="col"><strong>Designation</strong></th>
                                                    <th scope="col"><strong>Total Check In</strong></th>
                                                    <th scope="col"><strong>Total Check Out</strong></th>
                                                    <th scope="col"><strong>Month</strong></th>
                                                    {{!-- <th scope="col"><strong>Action</strong></th> --}}
                                                </tr>
                                            </thead>
                                            <tbody id="attendance-list">
                                                {{#attendances}}
                                                {{#monthlyRecords}}
                                                <tr>
                                                    <td><strong>{{this.count}}</strong></td>
                                                    <td><strong>{{this.fullName}}</strong></td>
                                                    <td><strong>{{this.unit.name}}</strong></td>
                                                    <td><strong>{{this.department.name}}</strong></td>
                                                    <td><strong>{{this.designation.name}}</strong></td>
                                                    <td><strong>{{this.totalCheckIns}}</strong></td>
                                                    <td><strong>{{this.totalCheckOuts}}</strong></td>
                                                    <td><strong><a
                                                                href="/attendance?_id={{this._id}}&month={{this.month}}"
                                                                class="status_btn bg-dark">{{this.month}}</a></strong>
                                                    </td>
                                                    {{!-- <td>
                                                        <div class="action_btns d-flex">
                                                            <a href="/attendance/update?_id={{this._id}}"
                                                                class="action_btn mr_10">
                                                                <i class="far fa-edit"></i>
                                                            </a>
                                                            <a style="cursor: pointer;" id="{{this._id}}"
                                                                class="action_btn delete delete-attendance-button"> <i
                                                                    class="fas fa-trash"></i>
                                                            </a>
                                                        </div>
                                                    </td> --}}
                                                </tr>
                                                {{/monthlyRecords}}
                                                {{/attendances}}
                                            </tbody>
                                        </table>
                                        {{!-- attendances --}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {{> main_footer}}
    </section>


    {{> chat_popup_box}}


    <div id="back-top" style="display: none;">
        {{> back_to_top}}
    </div>

    {{> footer}}

</body>

<!-- Mirrored from demo.dashboardpack.com/user-management-html/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 13 Dec 2023 13:29:54 GMT -->

</html>